body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
    gap: 20px;
    margin: 0px;
    background-color: #000000;
    font-family: 'Protest Riot', sans-serif;
}

h1 {
    color: white;
}

p {
    margin: 0px;
}

/*ID's */

#gameover{
    opacity: 0;
    position: absolute;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

#gameWindow {
    position: relative;
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    grid-row-start: 2;

    background-color: blue;
}

/*Main charcater*/
#mainCharacter {
    width: 32px;
    height: 32px;
    left: 400px;
    top: 304px;
}

/*Foreground Items*/
#door1 {
    width: 64px;
    height: 64px;
    opacity: 1;
    top: 273px;
    left: 123px;
}

#door2 {
    width: 44px;
    height: 54px;
    /* background-color: #fb00ff; */
    top: 280px;
    left: 450px;
}





#mush {
    width: 100px;
    height: 80px;
    top: 125px;
    left: 194px;
}

/*Inventory box*/
#inventoryBox {
    position: relative;
    display: block;
    left: 10px;
    top: 10px;
    width: 180px;
    height: 80px;
    color: white;
    background-color: #000000;
    border: white 1px solid;
    padding: 10px;
}

/*Dialog part*/
#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    height: 64px;
    width: 800px;
}

#brownBar {
    position: absolute;
    height: 32px;
    width: 800px;
    background-color: #292928;
    bottom: 0px;
}

#mainCharacterAvatar {
    left: 0px;
    bottom: 0px;
    width: 72px;
    height: 68px;
}

#mainCharacterSpeech {
    left: 72px;
    top: 0px;
}

#counterAvatar {
    right: 0px;
    bottom: 0px;
    width: 72px;
    height: 68px;
}

#counterAvatarImg {
    opacity: 0;
position: absolute;
}
#counterAvatarImg2 {
    opacity: 0;
position: absolute; 
}
#counterAvatarImg3 {
    opacity: 0;
position: absolute; 
}

#counterSpeech {
    right: 72px;
    top: 0px;
}

#tilemap {
    width: 800px;
    height: 608px;
    top: 0px;
    left: 0px;
    opacity: 1;
}


/*Classes*/
.foreground {
    position: absolute;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.heroCharacter {
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;
}

/*Background */
.background {
    position: absolute;
    z-index: 0;
}

.speech-bubble {
    background-color: #FFFFFF;
    border-radius: 60px;
    color: #000000;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
    width: 300px;
    opacity: 0;
    transition: all 1s ease-in-out;
}